@model Electron.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ProductViewModel</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.brand)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.brand)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
        @Html.DisplayName("Categoty")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.name)
    </div>




</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
